---
import { AVAILABLE_LOCALES } from '@root/astro.config.mjs';
import { NetlifyUseCase } from '@root/src/bff/use-case/netlify';
import DataCard from '@root/src/components/DataCard.astro';
import Layout from '@root/src/layouts/Layout.astro';

export function getStaticPaths() {
  return AVAILABLE_LOCALES?.map((locale) => ({ params: { lang: locale } })) || []
}

const { lang } = Astro.params;
const data = await NetlifyUseCase.GetBlogList.execute(lang, 'netlify');

---
<Layout title="Welcome to Netlify.">
  <main>
    <h1>Welcome to <span class="text-gradient">Netlify</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages/netlify</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <section class="max-w-full overflow-auto grid grid-cols-2 gap-6 pb-12">
      {data?.data?.map((item) => (
        <DataCard
          title={item.title}
          thumbnail={item.thumbnail}
          date={item.date}
          rating={item.rating}
          slug={item.slug}
        />
      ))}
    </section>
  </main>
</Layout>

