---
interface Props {
    title: string;
    thumbnail: string;
    date: string;
    rating: string,
    slug: string;
  }
  
  const { slug, title, thumbnail, date, rating } = Astro.props;
---
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href={slug}>
        <img class="rounded-t-lg" src={thumbnail} alt={title} />
    </a>
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
        <date>{date}</date> / <span class="text-yellow-400">{rating}</span>
    </div>
</div>