---
import Layout from '@layouts/Layout.astro';
import { HygraphUseCase } from '@use-case/hygraph';

const { data, error } = Astro.props;

export async function getStaticPaths() {
  return HygraphUseCase.GetBlogStaticParams.execute('index');
}
---

<Layout title="Welcome to Hygraph.">
  <main>
    <h1>Welcome to <span class="text-gradient">Hygraph</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages/hygraph</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <section class="max-w-full overflow-auto">
      {data && (
        <img src={data?.ogImage?.url}
          alt={data?.ogImage.alt}
          width={data?.ogImage?.width}
          height={data?.ogImage?.height}
          class="mx-auto"
        />
        <h1>
          {data.title}
        </h1>
        <p class="text-center">{data.description}</p>
      )}

      {error && <p class="text-center bg-orange-300 text-black border-fuchsia-400 p-4 rounded-lg text-3xl">Sorry, but looks like page doesn't exist</p>}
    </section>
    
  </main>
</Layout>