---
import DataCard from '@root/src/components/ThumbnailCard.astro';
import Layout from '@layouts/Layout.astro';
import { StaticUseCase } from '@use-case/static';

export async function getStaticPaths() {
  return await StaticUseCase.Blog.GetIndexStaticParams.execute('blog')
}

const { data, error } = Astro.props;

---
<Layout title="Welcome to Netlify.">
  <main>
    <h1>Welcome to <span class="text-gradient">Netlify</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages/netlify</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <section class="max-w-full overflow-auto grid grid-cols-2 gap-6 pb-12">
      {data?.map((item) => (
        <DataCard
          title={item.title}
          thumbnail={item.thumbnail}
          date={item.date}
          rating={item.rating}
          slug={item.slug}
        />
      ))}
    </section>

    {error && <p class="text-center bg-orange-300 text-black border-fuchsia-400 p-4 rounded-lg text-3xl">Sorry, but looks like page doesn't exist</p>}
  </main>
</Layout>

